<launch>
	<param name="obstacleOverrideDurationMillis" value="1000.0" />
	<node pkg="ohm_igvc" type="auto_control_logic" name="auto_control_logic" output="screen"/>

	<node pkg="joy" type="joy_node" name="joy_node" />
	<node pkg="isc_shared" type="joystick" name="joystick"/>
	<node pkg="isc_shared" type="manual_control" name="manual_control" output="screen"/>
	
	<param name="arduino_serial_port" value="/dev/ttyACM0" />
	<node pkg="ohm_igvc" type="ohm_drive_mode_control" name="ohm_drive_mode_control" output="screen"/>

	<param name="serial_port" value="/dev/ttyUSB0" />
	<node pkg="isc_shared" type="roboteq_nextgen" name="roboteq_nextgen"/>
</launch>
